$base-theme:Default;
$skin-name:MyO365;
$swatch-name:Office365;
$border-radius: 2px;
$accent: #0072c6;
$info: #1976d2;
$success: #43a047;
$warning: #fff19d;
$error: #f44336;
$text-color: #333333;
$bg-color: #ffffff;
$base-text: #333;
$base-bg: #fff;
$hovered-text: #000;
$hovered-bg: #f4f4f4;
$selected-text: #333333;
$selected-bg: #cde6f7;
$series-a: #0072c6;
$series-b: #5db2ff;
$series-c: #008a17;
$series-d: #82ba00;
$series-e: #ff8f32;
$series-f: #ac193d;
